[submodule "ROS_Package/src/maestro_control_ros/rc_control/include/thirdparty/Pololu-Maestro"]
	path = ROS_Package/src/maestro_control_ros/rc_control/include/thirdparty/Pololu-Maestro
	url = https://github.com/papabricole/Pololu-Maestro
