[submodule "ROS_Package/src/maestro_control_ros/rc_control/include/thirdparty/Pololu-Maestro"]
	path = ROS_Package/src/maestro_control_ros/rc_control/include/thirdparty/Pololu-Maestro
	url = git@github.com:SafeRoboticsLab/Pololu-Maestro.git
[submodule "ROS_Package/src/zed-ros-wrapper"]
	path = ROS_Package/src/zed-ros-wrapper
	url = git@github.com:SafeRoboticsLab/zed-ros-wrapper.git
