<launch>
    <arg name="output"            default="screen"    doc="display output to screen or log file"/>
    <arg name="TrajTopic"   default="/planning/trajectory"    doc="ROS topic for the reference trajectory"/>
    <arg name="PoseTopic"   default="/zed2/zed_node/pose"    doc="ROS topic for the pose"/>
    <arg name="ControllerTopic"   default="/control/rc_control"    doc="ROS topic to publish"/>
    <arg name="Horizon"         default="1.0"              doc="Frequency to update the controller" />
    <arg name="Step"      default="10"              doc="Frequency to update the controller" />
    <node pkg="traj_planning_ros" type="traj_planning_node.py" name="traj_planning" output="$(arg output)">
        <param name="TrajTopic"           value="$(arg SteeringChannel)" />
        <param name="PoseTopic"           value="$(arg ThrottleChannel)" />
        <param name="Horizon"           value="$(arg Horizon)" />
        <param name="Step"           value="$(arg Step)" />
    </node>
</launch>
